// User Profile CSS
#profile{
  padding: 1rem 0;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}
ul{
  list-style: none;
  padding-left: 0;
}
li{
  padding-bottom: 2rem;
  border-bottom: 1px solid lighten($dark, 75%);
  margin-bottom: 2rem;
}
.image_thumbnail {
  width: 22%;
  float: left;
}
img{
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}
.user_overview {
  width: 76.5%;
  float: left;
  margin-left: 1.5%;
}
h2{
    color: $dark;
}
.description{
  color: lighten($dark, 25%);
}
.button_email{
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border:none;
  display: inline-block;
  min-width: 6.5rem;
}
.button_message{
  background: $highlight;
  transition: background .4s ease-in-out;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  &:hover{
    background: darken($highlight, 8.5%);
    box-shadow: 0px 27px 15px -15px rgba(0,0,0,0.2);
    transform: translate(1px, -1px) scale(1.1);
  }
}

.table-cover{
  border: 2px solid black;
  width:50%;
  margin: 0 auto;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}

.title{
  text-align: center;
}

section{
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;

  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}
