$white: #ffffff;
$highlight: #e24147;
$dark: #22292e;
$light: #EDEFF5;

body{
  font-family: 'Open Sans', sans-serif;
}

#world{
  background: #111;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /*background: #111;*/
  text-align: center;
  color: $white;
}
h1 {
  color:$white;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 3rem 0 1rem 0;
  text-align: center;
}
.wrapper_skinny{
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 26%;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  width: 60%;
  margin: 0 auto;
}
.logo {
  text-transform: uppercase;
  color: $white;
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
}
.center{
  text-align: center;
}
.button{
  position: absolute;
  left: 0;
  right: 0;
  top: 110%;
  margin-left: auto;
  margin-right: auto;
  max-width: 70px;
  margin: 0 auto;

  color: $white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border:none;
  display: inline-block;
  min-width: 8.5rem;
}

.button_highlight{
  background: $highlight;
  transition: background .4s ease-in-out;
}
